body {
    background-color: #181717;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', monospace;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

#content {
    max-width: 650px;
}

.check {
    text-decoration: line-through;
}

a,
a:visited {
    color: #f0c051;
    font-weight: bold;
}

h2, h3 {
    color: #f0c051;
}

h3 {
    font-style: italic;
}